// Client Items

#client-wrapper {
  margin-top: -30px;
  
  .client-item, .client-info, .client-extra {
      max-width: 100%;
      margin: 0;
  }
  
  .client-item {
    margin-bottom: 16px;
  }
  
  .client-info {
    background: $white;
    padding: 6px;
    border: 1px solid $babyBlueBorder;
    border-bottom: 0;
    z-index: 3;
    @include border-radius(4px 4px 0px 0px);
  }
  
  .client-info a, .client-info a:visited { 
    color: #9d9d9d; 
  }
  
  .client-extra {
    padding: 6px;
    background: $babyBlue;
    border: 1px solid $babyBlueBorder;
    @include border-radius(0px 0px 4px 4px);
    @include box-shadow($blueBoxShadow);
  }

  // Client Gravatar Picture 
  .client-user-pic {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  // Client Name/Company - Plus Links
  .f-thin-black {
    font-size: 1.4em;
    a, a:visited {
      color: #2d2d2d;
    } 
  }
  
  .f-thin-grey {
    font-size: 1.4em;
  }

  // Client Projects
  .projects {
    border-left: 1px solid $babyBlueBorder;
    height: 100%;
    text-align: center;
  }
  
  .project-count {
    font-size: 1.5em;
    font-weight: 500;
    color: #32a4d3;
    display: block;
    margin: 0;
  }

  // Client contact details
  .contact {
    font-size: 0.95em;
  }
}  

/* Client Sidebar */
#letter-filter { 
  margin-top: 10px; 
  li {
    margin-right: 2%; 
    margin-bottom: 5px; 
    text-align: center; 
    width: 12.28%; 
    a {
      text-shadow: none; 
      padding: 3px 1% 0; 
      background: $white; 
      border: 1px solid $babyBlueBorder; 
      display: block;
      color: #777;
    }
    a:visited {
      color: #777;
    }
    a:hover, li a:focus {
      background: $lblue; 
      color: white; 
      border:1px solid $lblue*0.9;
    } 
  } 
  li a.active {
    background: $lblue; 
    color: white; 
    border:1px solid $lblue*0.9;
  }
  li.unavaliable {
    opacity: 0; 
    display: none;
  }
}


/* ================== */
/* = Client Details = */
/* ================== */
.filter-area {
  padding: 5%;
  
  .filter-input {
    width: 35%; 
    float: left; 
    margin-right: 3%;
  }
  
  .blue-btn {
    padding: 10px 20px;
    margin-top: 0px;
  }
}

#client-details {
  position: relative;
}

.client-header {
  position: relative; 
  padding-left: 180px !important;
  .client-image {
    position: absolute;
    top: 24px;
    left: 14px;
    width: 140px;
    height: 140px;
    img {
      width: 100%;
      height: auto;
      @include border-radius($borderRadius);
    }
  }
}

.client-contact {
  padding-left: 180px !important; 
  list-style: none; 
  display: block; 
  margin-top: 0px; 
  margin-left: 0px; 
  margin-bottom: 20px;
}

.contact {
  margin-right: 4px;
  width: 16px;
  height: 16px;
  display: inline-block;
  text-indent: -999px;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.contact-text {
  margin-right: 30px;
  vertical-align: middle;
}

.contact.phone {
  background: url(../img/icons-client.png) 0px 0px no-repeat transparent;
}

.contact.mobile {
  background: url(../img/icons-client.png) -24px 0px no-repeat transparent;
}

.contact.fax {
  background: url(../img/icons-client.png) -83px 0 no-repeat transparent;
}

.contact.email {
  background: url(../img/icons-client.png) -112px 0 no-repeat transparent;
}

.contact.address {
  background: url(../img/icons-client.png) -57px 0 no-repeat transparent;
}

/* Assigned user stuff */

#arbitrary-modal .user_assignments .two.columns {
   width: 100%;
   padding-left:0;
}

#arbitrary-modal .user_assignments .nine.columns {
   width: 100%;
   padding-left:0;
}

#arbitrary-modal .can_be_sent_or_generated {
   margin-left: 164px;
}

#arbitrary-modal .can_be_sent_or_generated .label-span {
   display:none;
}


.assigned_users_list .parent-module {margin: 10px 0;}
.assigned_users_list .select label, .assigned_users_list .can_be_sent_or_generated span {font-size: 11px;font-family: 'Lucida Grande';color: rgb(136, 136, 136);}
.assigned_users_list .select input {margin: 0;margin-right: 4px;}
.assigned_users_list .select .sel-item {margin: 0;}
.assigned_users_list .permissions_breakdown {display: none;}
.assigned_users_list .permissions_breakdown, .assigned_users_list .can_be_sent_or_generated {margin-left: 60px;}
.assigned_users_list .user_permission_levels.select {width: 230px;}

.assigned_users_list .assigned_user_username {
    width: 160px;
    font-weight:bold;
    display:inline-block;
}

.assigned_users_list .label-span {
    width: 100px;
    text-align:right;
    display:inline-block;
}

.assigned_users_list .select {
    width: 455px;
    display:inline-block;
}




.assigned_users_list label {
  font-weight: 300;
}