/* Notification System */
.meows {

    a {
        color: $white;
        font-weight: bold;
    }

  margin-top: 45px;
  .inner {
    @include border-radius(2px !important);
    opacity: 1 !important;
    @include box-shadow(0px 3px 6px rgba(black,0.2) !important);
    padding: 12px !important;
    background: rgba(black, 0.6) !important;
    border: 0 !important;
    text-shadow: none !important;
    font-family: 'Open Sans', sans-serif !important;
    h1 {
      display: none !important;
    }
    img {
      display: none !important;
    }
    .notification-text {
      font-size: 13px !important;
      font-size: 1.3rem !important;
      line-height: 1.4;
      font-weight: 400;
      width: 86%;
    }
    .close {
      left: auto !important;
      top: 8px !important;
      right: 8px !important;
      font-size: 14px !important;
      height: 18px !important;
      width: 18px !important;
      opacity: 0.6 !important;
    }
    .close:hover {
      opacity: 1 !important;
    }
  }
}