/* ===================== */
/* = Project Overviews = */
/* ===================== */

.hideme{
	display:none;
}

.milestone-legend {
    display: inline-block; 
    vertical-align: -4px; 
    margin-right: 8px; 
    width: 18px; 
    height: 18px; 
    border-radius: 4px;
} 

.task-title .completed {
    text-decoration:line-through;
}

.task-title-add, .task-milestone-add, .task-assignee-add {
    min-width: 200px;
    
    & .sel-item {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.project-tasks {
    
    .sortable.task {
        .empty {
            margin-left: 15px;
        }
    }
    
    &.dragging .sortable {
        min-height: 31px;
        background: lighten(#EEE, 10%) !important;
        
        &.milestone.not-has-tasks {
            border-style: solid;
            border-width: 0 0 0 5px;
        }
        
    }
    
    .empty {
        background:#C8EBFE !important;
        outline:1px dashed #ccc !important;
    }
}

.timer {
    .play {
        .fi-play {
            display: inline;
        }

        .fi-pause {
            display: none !important;
        }
    }

    .pause {
        .fi-pause {
            display: inline;
        }

        .fi-play {
            display: none !important;
        }
    }
}

.project-group-list{
	.project{
		margin: 0 0 25px;
		header{
			border-bottom: 1px dotted $secondGrey;
			padding: 0 0 10px;
			overflow: auto;
			h3 a{
				color: $darkGrey;
				&:hover{
					color: $pancakeBlue;
				}
			}
		}
	}
	.project-tools{
		float: right;
		*{
			vertical-align: top;
		}
		a,span{
			display: inline-block;
		}
		span{
			color: $darkGrey;
			font-size: .85em;
			margin: 3px 30px 0 0;
			text-transform: uppercase;
			&.completion{
				font-weight: bold;
			}
			&.project-due-date{
			}
		}
		a{
			color: $secondGrey;
			font-size: 2em;
			margin-left: 5px;
			&:hover{
				color: $pancakeBlue;
			}
		}
	}
	h3.project-title{
		margin: 0;
	}
	ol.project-tasks{
		list-style: none;
		margin: 0;
		padding: 0;
		text-indent: 0;
	}
	li.task-item .the-task {
		border:{
			color: transparent;
			style: solid;
			width: 0 0 0 5px;
		}
		font-size: 14px;
		line-height: 1;
		margin: 0;
		overflow: auto;
		padding: 0;
		position: relative;
		&:nth-of-type(even){
			background: $secondGrey;
		}
		&.sub-the-task {
			background: $secondGrey;
			border-bottom: 1px solid white !important;
			margin: 0 0 0 15px;
		}
		span{
			//display: inline-block;
			float: left;
			font-size: inherit;
			line-height: 1;
			margin: 0 5px 0 0;
			padding: 8px 4px 6px;
			vertical-align: baseline;
			span{
				padding: 0;
			}
			&.task-number{
				cursor: move;
				font-weight: bold;
				text-align: right;
				width: 3%;
			}
			&.task-check{
				text-align: center;
				width: 3%;
			}
			&.task-title{
				overflow: hidden;
				width: 55%;
			}
			&.task-milestone{
				width: 19%;
			}
			&.task-timer{
				text-align: center;
				width: 15%;
				.time{
					font-weight: normal;
					margin-right: 5px;
				}
				*{
					display: none;
				}
			}
			&.task-tools{
				text-align: center;
				width: 15%;
				a{
					margin-right: 5px;
				}
				*{
					display: none;
				}
				
			}
			&.task-assignee{
				float: right;
				margin: 0;
				padding: 4px;
				width: auto;
			}
			label{
				font-size: inherit;
			}
			input{
				margin: 0 0 0 0;
			}
		}
		&.hover{
			background: lighten($pancakeBlue,40);
			span.task-timer,
			span.task-tools{
				text-indent: 0;
				*{
					display: inline;
				}

				
			}
			@include breakpoint(tablet-wide){
				span.task-timer{
					clear: left;
				}
				span.task-timer,
				span.task-tools{
					margin: 0 0 0 45px;
					padding: 0 0 10px;
					width: auto;
				}
				
			}
		}
		&.the-new-task{
			span.task-title,
			span.task-milestone{
				padding: 4px;
			}
			span.task-number{
				padding-top: 13px;
			}
		}
	}
	img.avatar{
		float: right;
		width: 20px;
		@include border-radius(24px);
		@include breakpoint(tablet-wide){
			position: absolute;
			top: 5px;
			right: 5px;
		}
	}
}


#project_container {
  margin-bottom: 20px; 
  position:relative;
}

.project-box {
  width: 94%;
  padding: 3%; 
  background: $white;
  border: 1px solid $babyBlueBorder;
  border-bottom: 0;
  @include border-radius(4px 4px 0px 0px);
  h5, h5 a {
    font-weight: 500;
    word-wrap: break-word;
    font-size: 19px;
    text-shadow: none;
    color: #444;
    margin-top: 2px;
  }
  a:hover, .project-box h5 a:focus {
    color: $lblue;
  }
  p {
    font-size: 14px;
    a, a:visited {
      color: #777777;
    }
    a:hover, a:focus {
      color: #333;
    }
  }
}

.project-footer {
  border: 1px solid $babyBlueBorder;
  background: $babyBlue;
  padding: 2% 15% 2% 3%;
  width: 92%;
  position: relative;
  margin-bottom: 26px;
  font-size: 13px;
  @include border-radius(0px 0px 4px 4px);
  @include box-shadow(0px 1px 1px 0px $babyBlueBorder);
  .percent {
    position: absolute;
    right: -16px;
    bottom: -12px;
    display: block;
    line-height: 1;
    padding: 24px 6px;
    color: #fff; 
    width: 62px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: 600;
    @include border-radius(50px);
  }
  .invoice-buttons {
    float: right;
    position: relative;
    li ul {
      position: absolute !important;
      top: 0 !important;
      right: -5px !important;
    }
  }
}

.users-table td {
    vertical-align: middle;
    padding: 5px 10px;
}

.users-table .members-pic {
    width: 24px;
    height: 24px;
    float:left;
}

/* Move to shared */
.members-pic {
  background: $babyBlueBorder;
  border: none;
  width: 35px;
  height: 35px;
  margin-right: 3px;
  @include border-radius($borderRadius);
}

.project-box .icon, .timesheet-icon {
  display: block;
  float: left;
  width: 17px;
  height: 16px;
  text-indent: -999px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 2px;
  margin-right: 6px;
}

