@import "compass/css3";

.panel {
	background:none;
	border:none;
	border-radius: 5px;
	margin: 0 0 22px;
	padding: 20px;
	text-shadow: 1px 1px 0 #FFFFFF;
}

.side-bar-wrapper {
	margin-top: -20px;
	.panel {
		margin:0;
	}
  h5 {
    font-weight: 300;
    color: #32a4d3;
    margin: 14px 0 2px 0;
    font-size: 1.1em;
  }
  .f-thin-black, .f-thin-red, .f-thin-grey {
    font-size: 18px;
  }
  p {
    margin-bottom: 0;
  }
  .f-thin-grey {
    font-size: 14px;
    font-style: italic;
  }
}

/* Sidebar buttons */
.side-bar-btns {
	list-style: none; 
	li {
		//border: 1px solid #3d3d3d;
	    text-shadow: none;
	    margin-bottom: 5px;
	    font-size: 14px;
	    position: relative;
	    // @include border-radius(4px);
		a {
			background: $pancakeBlue;
			color: white;
			display: block;
			font-weight: bold;
			margin: 0;
			padding: 4px 16px 4px 40px; 
			position: relative; 
			text-transform: capitalize;
			&:before {
				content: '';
				background: rgba(#000,.1);
				border-right: 1px solid rgba(#fff,.25);
				color: #fff;
				font: normal 1.1em/1 $icons;
				position: absolute;
				left: 0;
				top: 0;
				padding: 7px 0;
                                width: 32px;
                                text-align: center;
		    }
			&:after {
				content: "\f196";
				color: rgba(#fff,.25);
				font: normal 20px/1 $icons;
				position: absolute;
				right: 2px;
				padding: 6px;
				top: 0;
			}
			&:hover{
				background: $pancakeRed;
			}
		}
	}
	li {
		// Add Milestone
	    &.add-milestone {
			a:before { content: "\f199"; }
	    }
		// Add Time/Hours
	    &.add-time,
		&.add-hours {
			a:before { content: "\f12b"; }
		}
		// Add Expense
		&.add-expense {
			a:before { content: "\f19e"; }
		}
		// Add Task
		&.add-task {
			a:before { content: "\f127"; }
		}
		// View Timesheet/Generate Invoice
		&.view-timesheet,
		&.generate-invoice {
			a:before { content: "\f189"; }
		}
		// Add
		&.edit {
			a:before { content: '\f194'; }
		}
                
                &.delete {
			a:before { content: '\f204'; }
		}
                
                &.preview {
			a:before { content: '\f147'; }
		}
                
                &.add {
			a:before { content: '\f199'; }
		}
                
		&.save {
			a:before { content: '\f1ac'; }
		}
		&.make-template-from {
			a:before { content: '\f14e'; }
		}
		&.view-archive {
			a:before { content: "\f108"; }
		}
    
	&:hover a:before {
		background: rgba(#000,.25);
	}
	
  }
}

.side-bar-wrapper {
  .edit-delete {
    a {
      color: #777;
      font-size: 12px;
    }
    a.delete:hover, a.delete:focus {
      color: red;
    }
    a.edit:hover, a.edit:focus {
      color: $lblue;
    }
  }
  .sidebar-title {
    font-weight:bold; 
    font-size: 1.2em;
  }
  p {
    margin-bottom: 16px;
  }
}


// Progress Bar

.progress-bar {
  background: #eee;
  height: 25px;
  width: 100%;		
  margin-bottom: 20px;  
  @include border-radius(3px);    
  span {
    display: inline-block;
    height: 100%;
    font-size: 13px;
    font-weight: bold;
    color: white;
    line-height: 27px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.26);
    text-align: center;
    background: $wheelBlue;
    position: relative;
    @include border-radius(3px); 
  }
}		