.mailpane {
	max-width: 1170px;
	border: 1px solid #ddd;
	background: #fff;
	margin-bottom: 20px;
}

#ticket-feed {
	margin: 0;
	background: #f7f7f7;
	border-right: 1px solid #ddd;
	ul {
		margin: 0 -16px;
		height: 792px;
		overflow-x: visible;
		overflow-y: scroll;
	}
}

.ticket-item {
	position: relative;
	list-style: none;
	border-bottom: 1px solid #ddd;
	&:last-child {
		border-bottom: 0;
	}
	h4 {
		font-size: 16px;
		font-size: 1.6rem;
		margin-bottom: 8px;
	}
	.image {
		float: left;
		width: 10%;
		min-width: 60px;
		margin-left: 4%;
		margin-right: 5%;
		margin-top: 14px;
		img {
			@include border-radius(100px);
		}
	}
	.body {
		float: left;
		width: 70%;
		min-height: 94px;
	}
	p {
		font-size: 13px;
		font-size: 1.3rem;
		strong {
			font-size: 14px;
			font-size: 1.4rem;
		}
	}
	.date {
            float: left;
		padding-left: 16px;
                padding-bottom: 8px;
		font-size: 13px;
		font-weight: bold;
		color: #999;
		text-align: center;
	}
}

.ticket-item {
	&.high strong { border-bottom: 2px solid rgba(208,27,31, 1.0); }
	&.medium strong { border-bottom: 2px solid rgba(236,177,42, 1.0); }
	&.low strong { border-bottom: 2px solid rgba(196,234,120, 1.0); }
}

.ticket-item.unread {
	background: #fff;
	border: 1px solid #ddd;
	border-top: 0;
	&:after {
		position: absolute;
		top: 16px;
		right: 10px;
		content: "";
		display: block;
		width: 10px;
		height: 10px;
		background: $lblue;
		@include border-radius(20px);
	}
}

.ticket-item.current {
	position: relative;
	border-right: 4px solid $lblue;
}

.ticket-item.add {
	background: $babyBlue;
	border: 1px solid $babyBlueBorder;
	border-top: 0;

	.body {
		min-height: 0;
	}
}

.ticket-item-preview a strong {
	color:$lblue;
}

.ticket-item-preview a p {
	color:#999;
}

#ticket-content {
	padding: 10px;
	height: 500px;
	overflow-x: hidden;
	overflow-y: scroll;
	.date-divider {
		position: relative;
		font-size: 12px;
		font-size: 1.2rem;
		font-weight: 500;
		display: block;
		width: 100%;
		text-align: center;
		border-bottom: 1px dashed #eaeaea;
		height: 10px;
		color: #999;
		margin-bottom: 20px;
		span {
			position: absolute;
			top: -4px;
			width: 100px;
			left: 50%;
			margin-left: -50px;
			background: white;
		}
	}
	.message {
		margin-bottom: 20px;
		img {
			@include border-radius(100px);
			float: left;
			min-width: 60px;
			width: 6%;
			margin-right: 5%;
		}
		.text {
			float: left;
			width: 86.5%;
		}
		h6 {
			margin-top: 0;
		}
	}
	.message.staff {
		img {
			float: right;
			margin-right: 0;
			margin-left: 5%;
		}
		.text {
			float: right;
		}
	}
	.message.last {
		margin-bottom: 30px;
	}
	.notice {
		text-align: center;
		margin-bottom: 40px;
		border-bottom: 1px solid #c3e5bd;
		position: relative;
		height: 14px;
		overflow: visible;
		span {
			border: 8px solid #fff;
			border-top: 0;
			border-bottom: 0;
			text-align: center;
			font-style: italic;
			font-weight: 400;
			font-size: 13px;
			font-size: 1.3rem;
			padding: 6px 20px;
			background: #c3e5bd;
			@include border-radius(20px);
			color: #3b6b32;
		}
	}
}

.ticket-options {
	font-weight: 400;
	font-size: 13px;
	font-size: 1.3rem;
	color: #777;
	margin-right: 10px;
}

.edit-ticket {
	border-top: 1px dashed #ddd;
	padding-top: 10px;
	display: none;
}

#ticket-actions {
	background: $babyBlue;
	border-bottom: 1px solid $babyBlueBorder;
	margin: 0 -15px 10px;
	padding: 4px 16px 6px;
	.tag {
		font-size: 13px;
		font-size: 1.3rem;
		vertical-align: middle;
	}
	i {
		vertical-align: middle;
		margin-top: 1px;
	}
}

#ticket-body {
	position: relative;
	height: 792px;
}
#ticket-reply {
	position: absolute;
	width: 96%;
	bottom: 0px;
	left: 25px;
	padding-right: 4%;
	background: white;
	margin-top: 5px;
	padding-top: 5px;
	input, .blue-btn {
		margin-bottom: 0;
	}
}

.textarea.ticket {
	textarea {
		height: 300px;
	}
}

.ticket-unpaid {
	color:$iRed;
}

.ticket-paid {
	color:$iGreen;
}