@import "compass/reset";
@import "compass/css3";
@import "colors";

/*
   login.css
   pancake
   
   Created by Lee Tengum on 2011-01-04.
   Copyright 2011 ThatLeeGuy (http://thatleeguy.com). All rights reserved.
*/


body{
	color: #666;
	width: 100%;
	font: 12px Arial, Helvetica, sans-serif;
	background:url(../img/bg.png) repeat;
}

a {
	color: #bbb;
	text-decoration: none;
  &:hover{
    text-decoration:underline;
  }
  &:focus{outline:none;}
}


#wrapper {
  width: 100%;
	max-width: 360px;
	margin: 20px auto;
	background: #fff;
	padding: 30px 30px 10px;
	@include border-radius($borderRadius);
	@include box-shadow(0px 0px 7px #CCCCCC);;
}

#header-area {
  width: 100%;
  max-width: 420px;
  margin: 80px auto 20px;
  text-align: center;
  .logo{
  	overflow:hidden;
  	width:100%;
  	font-size:36px;
  	line-height:38px;
    text-align: center;
    margin-bottom: 30px;
  	color:#142c35;
  	padding-bottom:1px;
  	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
  	text-shadow:0 2px #fff;
  	a {
    	color: #666;
  	}
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
  strong {
  	float:left;
  	color:#142c35;
  	font-size: 17px;
  	font-size: 1.7rem;
  	line-height:18px;
  	padding-top:34px;
    a {
    	float:left;
    	overflow:hidden;
    	color:#142c35;
    }
    a:hover{
    	text-decoration:none;
    	border-bottom:1px solid #142c35;
    }
  }
}

@media all and (max-width: 768px) {
	#header-area {
		margin-top: 30px;
	}
}

@import "shared";
@import "forms";

#main {
  label {
    float: left;
    font-size: 15px; 
    width: 32%; 
    font-weight: normal;
    margin-right: 2%; 
    margin-top: 11px;
    vertical-align: middle;
  }
  input[type="text"], input[type="password"] {
  	color: #aaa;
    width: 60%;
    padding: 2%; 
    font-size: 14px;
    vertical-align: middle; 
    margin-bottom: 10px;
  }
  input:after {
    clear: both;
  }
  .blue-btn {
	  font-size: 13px;
  }
  input[type="checkbox"] {
	  margin-top: 13px !important;
    float: left;
  }
  #forgot-password {
    display: block;
    width: 100%;
    float: left;
  }
}

/* ========================== */
/* = Errors & Notifications = */
/* ========================== */

.notification {
    border: 1px solid;
    margin: 20px 0px 0px 5px;
    padding:5px 10px;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}

.error {
	color:#990000;
}

.success {
	border:1px ;
}

h2 {
	font-size: 22px;
	margin: 15px 0 10px 0;
}

p {
	font-size: 16px;
	margin-bottom:1em;
}

input.hidden-submit { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

#login-box fieldset {
    position: relative;
}

.blue-btn {
  position: absolute;
  bottom: 0;
  right: 5px;
  cursor: pointer;
}

#main .notification {
    margin: 0 0 1em 0;
    padding: 1em;
    
    p {
        margin: 0;
        padding: 0;
    }
}